.nav{
  background-color: rgba(0, 0, 0, 0.253) !important;
  position: sticky !important;
top: 0;
z-index: 1000;

}
.container-login{
width: 600px;
height: 500px;
  background: rgba(0, 0, 0, 0.432);

}

#root{
  
  background: rgb(0, 0, 0);
background: linear-gradient(343deg, rgba(0,0,0,1) 0%, rgb(101, 102, 102) 100%);
}
body {
  background: rgb(0, 0, 0) !important;

}
.Input{
width: 70%;
height: 58px;
outline: 0;
color: rgb(255, 255, 255);
border: 0;
background-color: transparent  !important;
border-bottom: 2px solid white ;
font-size: 20px;

}
.container-login .MyBtn{
  width: 70%;
  height: 50px;
  background-color: rgb(194, 36, 8);
  outline: none;
  border: none;
  border-radius: 10px 10px 10px 10px;
}

.video-container {
  top: 0;
  width: 100%;
  height: 90vh !important;
  
  
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;

}

.Carousel{
margin-left: 8px;
  position: relative;
  top: -70px;
  background-color: transparent !important;
  overflow-x:scroll !important;
  transition-duration: 0.5s;
  scroll-behavior:smooth;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  height: 100%
}
.Carousel::-webkit-scrollbar {
  display: none;
}

.carouselitem{
  margin-right: 20px;
  width: 250px !important;
  height: 130px !important;

}
.carouselitem img {
  border-radius: 7px 7px 7px;
  width: 250px !important;
  height: 100% !important;
}


.iconsize{
 font-size: 60px !important;
}
.carousel-button {
  height: 18%;
  
  position: absolute;
 z-index: 100;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  color: #ffffff;
}

.carousel-button-left {
  left: 0;
}

.carousel-button-right {
  right: 0;
}

.carousel-button:hover{
  background-color: rgba(0, 0, 0, 0.521);
  border-radius: 10%;
}

.in-page{

}
.textonvideo{
  position: relative;
  z-index: 1000;
  color: white;
}