.nav{
  background-color: black;

}
.container-login{
width: 600px;
height: 500px;
  background: rgba(0, 0, 0, 0.432);

}

#root{
  
  background: rgb(0, 0, 0);
background: linear-gradient(343deg, rgba(0,0,0,1) 0%, rgb(101, 102, 102) 100%);
}
.Input{
width: 70%;
height: 58px;
outline: none;
color: black;
border: 3px solid black;
font-size: 20px;
}
.container-login .MyBtn{
  width: 70%;
  height: 50px;
  background-color: rgb(194, 36, 8);
  outline: none;
  border: none;
  border-radius: 10px 10px 10px 10px;
}